<html>
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="js/bower_components/momentjs/min/moment.min.js"></script>
    	<script src="js/bower_components/momentjs/min/locales.min.js"></script>
    	<script src="js/bower_components/humanize-duration/humanize-duration.js"></script>
    	<script src="js/angular-timer.min.js"></script>
		<script src="js/app.js"></script>
	</head>
	<body>
		


		<div ng-app="mainApp" ng-controller="mainController">
			
			
				<div class="timerNew">
					<strong>Game:</strong>
            	<span>
                	<timer interval="1000" countdown="countdownVal" autostart="false">{{millis | date:'mm:ss'}}</timer>
            	</span>

            	<button ng-click="startClock()" ng-disabled="timerRunning" class="control">Start/Resume</button>
            	<button ng-click="stopClock()" ng-disabled="!timerRunning" class="control">Stop</button>
            	<button ng-click="resetClock()" class="control">Reset</button>

        	
			</div>

			<h2>Controls</h2>
			<div id="controls-area">
					<div ng-repeat="control in controls track by $index">
        				<label ng-bind="control.title"></label>
        				<button ng-click="switchState(control)" ng-bind="control.state ? 'On' : 'Off'"></button>
    				</div>
			</div>

			<h2>Modules</h2>
			<div id="modules-area">
					<div ng-repeat="module in modules track by $index">
        				<label ng-bind="module.title"></label>
        				<button ng-click="activateModule(module)" ng-bind="module.activate ? 'On' : 'Off'"></button>
    				</div>
			</div>

			<h2>Tracks</h2>
			Volume: <input type="range" name="volume" min="0" max="1" step="0.05" ng-model="tracksVolume" 
			ng-change="volumeChange()" />
			|
			<button ng-click="stopTracks()" >Stop</button>
			<div id="controls-area">
					Current track: <strong ng-bind="current_track"></strong>
					<div ng-repeat="(trackId, soundTrack) in tracks track by $index">
        				<!--<label ng-bind="soundTrack.title"></label>
        				<button ng-click="switchState(control)" ng-bind="control.state ? 'On' : 'Off'"></button>
        			-->
        				<button ng-click="playTrack(trackId)" ng-bind="trackId"></button>
        				
    				</div>
    			
			</div>


			<h2>Sounds</h2>
			<div id="controls-area">
					<div ng-repeat="soundId in sounds">
        				<button ng-click="playSound(soundId)" ng-bind="soundId"></button>
    				</div>
    			
			</div>

		</div>



	</body>
</html>